body{
  background-color: beige;
}
.card-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 2rem;

  margin-block: 2rem;
  padding: 0 1rem;
  justify-items: center;
  align-items: center;
}
.card-title{
  text-align: center;
}
.card{
  box-shadow: rgba(66, 57, 58, 0.1) 0px 4px 16px, rgba(63, 58, 58, 0.1) 0px 8px 24px, rgba(66, 60, 61, 0.1) 0px 16px 56px;
}
.pp{
  margin-left:1rem;
  margin-top: -0.7rem;
}
.card-text{
  margin-left:1rem;
}
.text-body-secondary{
  margin-left: 0.4rem;
}
